.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
    padding-right: 50vw;
  }
}

.timer-container {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 5px rgb(227, 232, 233);
  height: 40vh;
  width: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  font-size: 35px;
  color: #333333;
  font-style: initial;
  font-family: 'Times New Roman', Times, serif;
}

.timer-heading {
  font-size: 25px;
  color: #333333;
  font-weight: 500;
}

.watch-icon {
  margin-right: 10px;
}

.btn {
  height: 30px;
  width: 70px;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  margin: 10px;
  cursor: pointer;
}
.start-btn {
  background-color: #1db05f;
}
.stop-btn {
  background-color: #ef0d36;
}
.reset-btn {
  background-color: #eaa800;
}

/* Hex: #ffffff
Hex: #333333
Hex: #1db05f
Hex: #ef0d36
Hex: #eaa800 */
